.content {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding:1em;
}
.mock-video {
    border: 1px solid;
    width: 800px;
    height: 480px;  
    padding: 0px 10px;
}

.games {
    border: 1px solid;
    width: 800px;
    height: 480px;  
    padding: 0px 10px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(209, 209, 240); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .nav-item {
      display: block;
      margin: 10px 50px;
  }
