<div class="sidenav">
  <button class="nav-item" mat-fab color="primary" (click)="toggleMockVideo()">Video</button>
  <button class="nav-item" mat-fab color="primary" (click)="toggleGames()">Games</button>
  <button class="nav-item" mat-fab color="primary" (click)="toggleSettings()">Settings</button>
</div>
<div class="content">
  <div>
    <teacher-settings *ngIf="showSettings"></teacher-settings>
    <div *ngIf="showMockVideo" class="mock-video">
      <app-mock-video></app-mock-video>
    </div>
    <div *ngIf="showGames" class="games">
      <app-games username="Peter" sessionId="1234"></app-games>
    </div>
  </div>
</div>